$color-gray: rgb(220, 220, 220);
$color-gray-shadow: rgb(222, 223, 223);
$color-gray-hover: rgb(251, 251, 251);

$color-blue: rgb(0, 74, 173);

$color-black: rgb(52, 52, 52);

$color-main-background: rgb(230, 230, 230);