@import '../../scss/variables';

$color-sidebar-bckg: white;

.nav-menu {
  background-color: $color-sidebar-bckg;
  width: 230px;
  height: 100vh;
  box-shadow: 8px 0 5px $color-gray-shadow;
}

.nav-menu * {
  background-color: $color-sidebar-bckg;
}

.nav-text {
  list-style-type: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  font-size: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: $color-black;
}

.nav-text:hover * {
  transition: 450ms;
  background-color: $color-gray-hover;
  color: $color-blue;
}

.nav-text:hover {
  transition: 150ms;
  border-left: 5px solid $color-blue;
}

span {
  margin-left: 16px;
}

.brand {
  font-size: 40px;
  width: 65%;
  margin: auto;
  padding-top: 10px;
}

.selected-item {
  border-left: 5px solid $color-blue;
  color: $color-blue;
  background-color: $color-gray-hover;
}

.selected-item a {
  color: $color-blue;
  background-color: $color-gray-hover;
}