@import '../../scss/variables';

$color-sidebar-bckg: rgb(241, 241, 241);

.nav-menu {
  background-color: $color-sidebar-bckg;
  width: 230px;
  height: 100vh;
  box-shadow: 8px 0 5px $color-gray-shadow;
}

.nav-menu * {
  background-color: $color-sidebar-bckg;
}

.nav-menu-items {
  padding-top: 30px;
}

.nav-text {
  padding: 8px 0 8px 16px;
  list-style-type: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 1rem;
  color: $color-black;
}

.nav-text:hover * {
  transition: 450ms;
  background-color: $color-main-background;
}

span {
  margin-left: 16px;
}

.brand {
  font-size: 40px;
  width: 65%;
  margin: auto;
  padding-top: 30px;
}